body{
    background-color: #524dd0;
    height: 1000vh;
    font-family: 'Rajdhani', sans-serif;
    font-size: 40px;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
    margin: .5em;
    
}
.navbar{
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: auto;
    background-color: #2b2969;
    
}

form {
    display:flex;
    flex-direction:column;
    transition: all .2s;
    padding:1em;
    background: #a991fa;
    width: 70%;
    max-width: 35rem;
    margin:0 auto;
    overflow:hidden;
    border-radius: 10%;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  input{
    height: 45px;
    font-size: 1rem;
    margin-bottom: 3%;
  }

  fieldset {

    display:flex;
    flex-direction:column;
    justify-content:center;
    margin-bottom: 1em;
    border:none;
    transition: all .2s;
    padding:1em 1em 0;
    background:#a991fa;
    position: relative;
  }

form button {
    padding: .5em;
    margin: 20px auto 0;
    background-color: #00ffec;
    outline: none;
    border: 0;
    cursor: pointer;
    border-radius: 30px;
    font-size: 18px;
    width: 150px;
}

label{
    margin-bottom: 1rem;
    font-size: 25px;
}


.closeButton{
    position: absolute;
    margin-left: 90%;
    bottom: 90%;
    cursor: pointer;
}

button{
    cursor: pointer;
    font-size: 35px;
    font-family: 'Rajdhani', sans-serif;
}

.popupForm{
    display: none;
}

.popupAanmeldForm{
    display: none;
}


.openButton{
    margin: 10px;
    border-radius: 30px;
    border: 0;
    background-color: #00ffec;   
}

.openAanmeldButton{
    background-color: #2b2969;
    border: 0;
    color: white;
}
img{
    max-width: 200px;
}

form button{
    justify-content: center;
    display: flex;
}

.inleiding{

        
        background-image: 
        linear-gradient(0deg,rgba(82, 77, 208, 0.5),
        rgba(68, 0, 255, 0.5)),
          url('assets/auto1.jpg');
          color: white;
          


}
h1, h2, p{
    margin: 1em;
}
.contactknop{
    margin-left: 40%;
}

header{
    position: sticky;
    top: 0px;
    background-color: #524dd0;

}







